server:
  port: 18890

spring:
  datasource:
    url: jdbc:mysql://10.0.8.50:3306/zhsd?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: root
    password: 123456
  data:
    mongodb:
      host: 10.0.8.51
      port: 27017
      database: zhsd
  redis:
    host: 10.0.8.50
    port: 6379

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
